.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.png
*.svg
*.txt
*.csv
.DS_Store
Earthworm/data/Schema/iDiv-Metadata-Schema.xsd
Earthworm/data/richness.RDS
Earthworm/data/abundance.RDS
Earthworm/data/1804_2594_metadata.html
Earthworm/data/1804_2594_manifest.xml
*.RDS
Earthworm/rasters/*
Seminar Methods.Rproj
